<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="favorites.component.css">
</head>


  <div class="back-ground" >


      
      <ng-container *ngIf="favorites.length > 0; else nofavorites">
        <div  style="padding-top: 15%; ">
          <div >
          
            <div style="color:white" *ngFor="let favorite of favorites">
              <mat-card class="card-details" style="margin-top: 5%;">
                <mat-card-header>
                    <div>
                      <img class="avatar" mat-card-avatar src={{favorite.profile_img_url}}>
                      
                    </div>

                    <div>                        
                      <mat-card-title style="padding-left: 10px;">
                          {{favorite.username}}
                          
                          <a *ngIf="favorite.karmaRatio >= 1; else badKarma"> 
                              <img style="width:30px;height:25px;" src="assets/icons/Like.png">     
                          </a>

                          <button  (click)="toggleFavorite(favorite.userid);">
                            <img
                              style="width:20px;height:20px;"
                              [src]="isUserFavorited(favorite.userid) ? 'assets/icons/Favorited.png' : 'assets/icons/Favorite.png'"
                            />
                            </button>
                          <!-- <button style ="background-color: black; "><img style ="background-color: black; width: 20px; height:20px" src="assets/icons/Favorited.png"></button> -->



                          <button (click)="userPageRedirect(favorite.userid)" style="background-color: black;" ><u style="color:white;">view stat</u></button>
                      </mat-card-title> 
                      <mat-card-subtitle style="color:white; padding-left: 10px;">{{favorite.introduction}}</mat-card-subtitle>

                      <div style="padding-left: 10px; padding-top: 20px;">
                        <!-- <a>Kills: {{ favorite.kills }} </a>
                        <a>Deaths: {{ favorite.deaths }}</a> -->
                        <a>K/D: {{favorite.KD}}</a>
                      </div>
                      <!-- <a><button mat-button (click)="like(favorite)" style="color:white"><img src="assets/icons/Like.png"></button>{{ favorite.likes }} Likes</a>
                      <a><button mat-button (click)="dislike(favorite)" style="color:white"><img src="assets/icons/Dislike.png"></button>{{ favorite.dislikes }} Dislikes</a> -->
                    </div>

                  </mat-card-header>
                  <mat-card-content>

                  </mat-card-content>
                  <mat-card-actions style="justify-content: center;text-align: center;">

                  </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div>            <footer style="justify-content: center; text-align: center; padding-top: 60%; color: white " >This is a StatEngine Production</footer></div>
          </div>
        </ng-container>
        
        <ng-template #nofavorites>
          <p style="color:white; padding-top: 30%; justify-content: center; text-align: center;">You have no favorites. 😢</p>
        </ng-template>

        <ng-template #badKarma>
          <!-- Content to display when the condition is false -->
          <img style="width:30px;height:30px" src="assets/icons/Dislike.png"> 
        </ng-template>
        


  </div>
