<div class="back-ground">
    <mat-card class = "card-class" >
		<mat-card-header style = "color: white">
			<mat-card-title>
				{{userName}}
					<div style="" mat-card-avatar class = "image"></div>
				</mat-card-title>
			</mat-card-header>		
		<mat-list >
		<h2 matSubheader style = "font-size: 22px; width: 53px; height: 24px; margin-left: 1rem; color: white">Socials</h2>
			<mat-list-item><mat-icon style=" font-size: 33px; width: 33px; height: 24px; margin-left: 1rem;" svgIcon="discord"></mat-icon> <span style= "color: white">MurphTurph</span></mat-list-item>
			<mat-list-item><mat-icon style=" font-size: 33px; width: 33px; height: 24px; margin-left: 1rem;" svgIcon="instagram"></mat-icon><span style= "color: white">MucleHead</span></mat-list-item>
			<mat-list-item><mat-icon style=" font-size: 33px; width: 33px; height: 24px; margin-left: 1rem;" svgIcon="facebook"></mat-icon><span style= "color: white">Facebook</span></mat-list-item>
		</mat-list>
	</mat-card>
	<br>
	
	<div class="cardbox" style="width: 60%;">
		<mat-card class="cardbox-mini" style="width: 92%; opacity: 100%;">
			<mat-card-title style="font-size:60px">
				<div style="padding:2%">
					{{userName}}
				</div>
				<div style="color:black; opacity: 100%; font-size: 20px">
					Overall Stats
				</div>
			</mat-card-title>
			<mat-card-content style="padding-bottom: 3%;">
				<div style="text-align: center; width: 33%;font-size:24px; float:left">
					KD:
					<div [ngClass]="{'goodStat': oa_kd > 1, 'badStat': oa_kd <= 1}" style="font-size: 48px; font:bold; padding: 4%;" id="oa_kd">
						{{oa_kd}}
					</div>
				</div>
				<div style="text-align: center; width: 33%;font-size:24px; float:left">
					ADR:
					<div [ngClass]="{'goodStat': oa_adr >= 80, 'badStat': oa_adr < 80}" style="font-size: 36px; font:bold; padding: 4%;" id="oa_adr">
						{{oa_adr}}
					</div>
				</div>
				<div style="text-align: center; width: 33%;font-size:24px; float:left">
					Headshot Rate:
					<div  [ngClass]="{'goodStat': oa_hsp >= 30, 'badStat': oa_hsp < 30}" style="font-size: 36px; font:bold; padding: 6%;" id="oa_hsp">
						{{oa_hsp}}%
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<div style="margin: 5%; width: 100%; float:left">
		</div>
		<mat-card class="cardbox-mini" style="width: 92%; opacity: 100%">
			<mat-card-title style="font-size:60px">
				<div style="color:black; opacity: 100%; font-size: 20px">
					Last Match Stats
				</div>
			</mat-card-title>
			<mat-card-content style="padding-bottom: 3%;">
				<div style="text-align: center; width: 33%;font-size:24px; float:left">
					Result
					<div [ngClass]="{'goodStat': lm_result === 'Win', 'badStat': lm_result !== 'Win'}" style="font-size: 48px; font:bold; padding: 4%;" id="winloss">
						{{lm_result}}
					</div>
				</div>
				<div style="text-align: center; width: 33%;font-size:24px; float:left">
					KD:
					<div [ngClass]="{'goodStat': lm_kd > 1, 'badStat': lm_kd <= 1}" style="font-size: 36px; font:bold; padding: 4%;" id="lm_kd">
						{{lm_kd}}
					</div>
				</div>
				<div  style="text-align: center; width: 33%;font-size:24px; float:left">
					ADR:
					<div [ngClass]="{'goodStat': lm_adr >= 80, 'badStat': lm_adr < 80}" style="font-size: 36px; font:bold; padding: 6%;" id="lm_adr">
						{{lm_adr}} 
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<div style="margin: 5%; width: 100%; float:left">
		</div>
	