<div class="back-ground">
    <mat-card class = "card-class" >
		
		<mat-card-header style = "color: white">
			<mat-card-title>
				<a style="padding-right: 5px;">{{userName}}</a>
				<button (click)="toggleFavorite();">
					<img
					  style="width:20px;height:20px;"
					  [src]="userBeenFavorited ? 'assets/icons/Favorited.png' : 'assets/icons/Favorite.png'"
					/>
				  </button>
				</mat-card-title>
			</mat-card-header>		
			<img  [src]="profile_img_url || 'assets/images/no_profile_img.png'">

			<!-- Overall Stats -->
			<mat-card class="cardbox-mini">
				<mat-card-title >
					<div class="stat-card-title">
						<strong>Overall</strong>
					</div>
				</mat-card-title>
				<mat-card-content class="stat-container">
					<div class="stat-title">
						KD:
						<div [ngClass]="{'goodStat': oa_kd > 1, 'badStat': oa_kd <= 1}" class="stat-number" id="oa_kd">
							{{oa_kd}}
						</div>
					</div>
					<div class="stat-title">
						ADR:	
						<div [ngClass]="{'goodStat': oa_adr >= 80, 'badStat': oa_adr < 80}" class="stat-number" id="oa_adr">
							{{oa_adr}}
						</div>
					</div>
					<div class="stat-title">
						HSP:
						<div  [ngClass]="{'goodStat': oa_hsp >= 30, 'badStat': oa_hsp < 30}" class="stat-number" id="oa_hsp">
							{{oa_hsp}}%
						</div>
					</div>
				</mat-card-content>
			</mat-card>
			
			<!-- Last Match Stats -->
			<mat-card class="cardbox-mini">
				<mat-card-title>
					<div class="stat-card-title">
						<strong>Last Match</strong>
					</div>
				</mat-card-title>
				<div class="stat-container">
					
					<div class="stat-title" >
						KD:
						<div [ngClass]="{'goodStat': lm_kd >= oa_kd, 'badStat': lm_kd < oa_kd}" class="stat-number" id="lm_kd">
							{{lm_kd}}
						</div>
					</div>
					<div class="stat-title">
						ADR:
						<div [ngClass]="{'goodStat': lm_adr >= oa_adr, 'badStat': lm_adr < oa_adr}" class="stat-number" id="lm_adr">
							{{lm_adr}} 
						</div>
					</div>
					<div class="stat-title">
						W/L
						<div [ngClass]="{'goodStat': lm_result === 'Win', 'badStat': lm_result !== 'Win'}" class="stat-number" id="winloss">
							{{lm_result}}
						</div>
					</div>
				</div>
			</mat-card>
	</mat-card>

	
	<br>
	<!-- right side -->
	<div class="cardbox" style="width: 60%;">
		
		<div style="margin: 5%; width: 100%; float:left">
		</div>
		
		<div style="margin: 5%; width: 100%; float:left">
		</div>
