<div style="display:flex; justify-content: center; padding-top: 10%;">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
        <div style="text-align: center;">    
            <h1>Sign Up</h1>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-hint>Enter your email</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
                <mat-hint>Enter a username.</mat-hint>
            </mat-form-field>
        </div>  
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-hint>Enter a password</mat-hint>
            </mat-form-field>
        </div>
        <div> <!--Block 3 for submit button-->
            <button mat-flat-button color="primary" type="submit" style="justify-content: center; align-self: center; left: 30%; top: 50%;" onclick="onSubmit();" [disabled]="!registerForm.valid">Submit</button>
        </div>
    </form>