<div class="back-ground">
    <mat-card class = "card-class" >
		<mat-card-header>
			<mat-card-title>
				Murray_Olay
					<div class = "profile-image">
						<div class = "image">
							<img src ="assets/images/The_Murray.jpg" alt = "profile pic">
						</div>
					</div>
					<mat-list>
						<mat-list-item>Discord: MurphTurph</mat-list-item>
						<mat-list-item>Instagram: SlysBestfriend</mat-list-item>
						<mat-list-item>Discord: N/A</mat-list-item>
					</mat-list>
			</mat-card-title>
			
			
		</mat-card-header>
	</mat-card>

</div>