    .back-ground {   
        /* position: absolute; */
        width: 100%;
        height: 100%;
        left: 0px;
        top:  0px;
        display:flex; 
        padding-top: 10%;
        background: linear-gradient(180deg, #62B8B9 2.0%, #0F1119 35%, #B63986 60.0%);
        text-align: left;
        background-attachment: fixed;
        background-repeat: repeat;
        background-size:cover;
    }


    .img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        }

    .card-class {
        width: 100%;
        display: flex; /* Corrected */
        flex-direction: column; /* Organize children vertically */
        background-color: gray;
    }

    .card-stats-class {
        float: left;
        height: 80%;
        width: 120%;
        text-align: left;
        margin-left:10%;
        margin-top:13%;
        padding:2%;
        display: flexbox;
        bottom: 80px;
        opacity: 80%;
        background-color: darkslategray;
    }



    .class-list-text {
        color:red;
    }

    .cardbox{
        height: 100%;
        display: flexbox;
        float: none;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(4, 4, 50) 35%, rgb(0, 24, 29) 100%);
        background-repeat: repeat;
        background-size:cover;
        background-attachment: fixed;
        /* opacity: 80%; */
    }

    .cardbox-mini{
        display: flex;
        flex-wrap:wrap;
        float: left;
        height:150px;
        padding-top: 0%;
        padding-bottom: 5%;
        margin:5px;
        margin-top: 0;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        overflow: hidden;
        color: white;
        background-color: #323338;
        
    }
    .cardbox-mini > div {
        min-height: 30px; /* Adjust this value as needed */
        flex-shrink: 0; /* Prevents the item from shrinking too much */
        flex-grow: 1; /* Allows the item to grow if necessary */
        margin-bottom:15px;
        /* Other styling as needed */
    }
    /* .image {
        background-image: url('/../assets/images/The_Murray.jpg');
        background-size: cover;
        width: 300px;
        height: 300px;
        background-color: white;
        background-position:50% 50%;
        
    } */

    /* Stat Card CSS */
    .stat-card-title{
        /* color:black;  */
        font-size: 2em  ;
        height: 20%;
        margin-bottom:10px;
    }

    .stat-title{
        text-align: center;
        font-size:1.2em; 
        padding-right: 5px;
        padding-bottom: 5px;
        /* margin-bottom: 10%; */
    }

    .stat-number{
        text-align: center;
        /* font-size:1vw;  */
        font-size: 1em;
        /* margin-bottom:5% */
    }
    @media (max-width: 800px) {
        .stat-card-title{
            font-size: 2vw;
        }
        .stat-number {
            font-size: 2vw; /* Larger size for smaller screens */
        }
        .stat-title {
            font-size: 3vw;
        }
    }

    @media (max-width: 768px) {
        .card-class {
            width: 100%; /* Full width on smaller screens */
        }
    }
    
    @media (max-width: 675px) {
        .stat-card-title{
            font-size: 3vw;
        }
        .stat-number {
            font-size: 3vw; /* Even larger size for mobile screens */
        }
        .stat-title {
            font-size: 4vw;
        }
    }
    
    @media (max-width: 480px) {
        .stat-card-title{
            font-size: 4vw;
        }
        .stat-number {
            font-size: 4vw; /* Adjust for very small screens */
        }
        .stat-title {
            font-size: 5vw;
        }
        .stat-container{
            flex-direction: column;
            overflow:scroll
        }
    }

    @media (max-width: 425px) {
        .cardbox-mini{
            height: 200px;
        }
    }
    

    .stat-container{
        display: flex;
        flex-wrap: wrap; /* Corrected */
        justify-content: space-around;
        align-items: center;
    }
    /* .stat-nugget{
        border-radius: 50%;
        width: 10vw;
        height:10vw;
        background-color: black;
    } */
    /* Steam Button */
    .steamButton{
        width:95%;

        background-color: rgb(0, 0, 0, 0);
    }

    /* Change to cursor icon on hover */
    .steamButton:hover {
        cursor: pointer;
    }
    /* Stat colors */
    .goodStat {
        color: green
    }

    .badStat {
        color: red
    }

    .back-ground {   
        /* position: absolute; */
        left: 0px;
        top:  0px;
        display:flex; 
        padding-top: 5%;
        background: linear-gradient(180deg, #62B8B9 2.0%, #0F1119 35%, #B63986 60.0%);
        text-align: left;
        color:white;
        background-attachment: fixed;
        background-repeat: repeat;
        background-size:cover;
    }
    
    .bg-part {
        width: 80%;
        height: 90%;
        margin: auto;
        background: rgb(66, 66, 66);
        text-align: left;
        border-color: grey;
        border-style: solid;
        border-width: 1px;
    }
    
    .itemBox {
        width: 24%;
        height: 400px;
        margin: 0.5%;
        background: rgb(66, 66, 66);
        text-align: center;
        border-color: grey;
        border-style: solid;
        border-width: 1px;
        float:left;
        font-size: 15px;
        color: black;
        min-width: 150px;
    
    }

    .itemBox:hover {
        cursor: pointer;
    }

    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding-top: 60px;
        z-index: 0; /* Ensure it's above other content */
    }

    .img-fluid {
        max-width: 100%;
        width: auto;
        height: auto;
    }