<div class="back-ground">
    <mat-card class = "card-class" >
		<mat-card-header style = "color: white">
			<mat-card-title>
				Murray_Olay
					<div class = "profile-image">
						<div class = "image">
							<img src ="assets/images/The_Murray.jpg" alt = "profile pic">
						</div>
					</div>
				</mat-card-title>
			</mat-card-header>		
		<mat-list >
		<h2 matSubheader style = "font-size: 22px; width: 53px; height: 24px; margin-left: 1rem; color: white">Socials</h2>
			<mat-list-item><mat-icon style=" font-size: 33px; width: 33px; height: 24px; margin-left: 1rem;" svgIcon="discord"></mat-icon> <span style= "color: white">MurphTurph</span></mat-list-item>
			<mat-list-item><mat-icon style=" font-size: 33px; width: 33px; height: 24px; margin-left: 1rem;" svgIcon="instagram"></mat-icon><span style= "color: white">MucleHead</span></mat-list-item>
			<mat-list-item><mat-icon style=" font-size: 33px; width: 33px; height: 24px; margin-left: 1rem;" svgIcon="facebook"></mat-icon><span style= "color: white">Facebook</span></mat-list-item>
		</mat-list>
	</mat-card>
	<mat-card>

	</mat-card>

</div>