.back-ground{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: conic-gradient(from 45deg at 0% 100%, hsl(0, 0%, 60%) 0deg, rgba(0, 0, 0, 0) 360deg), linear-gradient(180deg, #282828 0%, rgba(38, 38, 38, 0) 100%);
    filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.14)) drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.12)) drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.2));
    background-attachment:scroll;
    background-repeat:repeat;
    background-size:cover;
}  
.mat-flat-button {
border-color: white;
border-radius: 10px;
}


@import '~@angular/material/prebuilt-themes/indigo-pink.css';



    /* Define CSS for desktop and larger screens */
    @media screen and (min-width: 768px) {
        .mainbody {
            /* padding-top: 5%; */
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            /* margin: 0 auto; */
            /* padding: 20px; */
        }
        .button-box{
            /* width: 500px; */
            /* height: 800px; */
        }


    }
    
    /* Define CSS for smaller screens (e.g., phones) */
    @media screen and (max-width: 767px) {
        .mainbody {
            /* padding-top: 10%; */
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            width: 100%;
            padding-top: 20%;
        }
        .button-box{
            /* width: 500px; */
            /* height: 800px; */
        }

    }
