


<div class="back-ground" style="display:flex; justify-content: center; padding-top: 10%;">

        <div > <!--Block 3 for submit button-->

            <button mat-flat-button color="primary" style="justify-content: center; align-self: center; left: 20%; top: 10%; color: white" mat-button (click)="openDialog()">Delete Account</button>
            <!-- <button mat-flat-button color="primary" type="submit" style="justify-content: center; align-self: center; left: 20%; top: 10%; color: white" (click)="onSubmit();">Delete Now</button> -->
            <!-- <div style="display:flex; justify-content: center; padding-top: 10%; color: white">{{message}}</div> -->
            <footer style="justify-content: center; text-align: center; padding-top: 100%; color: white " >This is a StatEngine Production</footer>
        </div>


</div>

