<div class="back-ground"  style="display:flex; justify-content: center; padding-top: 10%;">


    
        <ng-container *ngIf="friends.length > 0; else noFriends">
          <div  >
            <div >
             
              <div style="color:white" *ngFor="let friend of friends">
                <mat-card class="card-details" style="margin-top: 20px;">
                  <mat-card-header>
                        <img mat-card-avatar src={{friend.img_url}}>
                        <mat-card-title>{{friend.name}}</mat-card-title>
                        <mat-card-subtitle style="color:white">say something about yourself</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <a>Kills: {{ friend.kills }} </a>
                      <a>Deaths: {{ friend.deaths }}</a>
                    </mat-card-content>
                    <mat-card-actions>
                        <div><button mat-button (click)="like(friend)" style="color:white"><img src="assets/icons/Like.png"></button>{{ friend.likes }} Likes</div>
                        <div><button mat-button (click)="dislike(friend)" style="color:white"><img src="assets/icons/Dislike.png"></button>{{ friend.dislikes }} Dislikes</div>
                    </mat-card-actions>
                </mat-card>
              </div>
            </div>
            <div>            <footer style="justify-content: center; text-align: center; padding-top: 60%; color: white " >This is a StatEngine Production</footer></div>
            </div>
          </ng-container>
          
          <ng-template #noFriends >
            <p style="color:white">You have no friends. 😢</p>
            <div>            <footer style="justify-content: center; text-align: center; padding-top: 60%; color: white " >This is a StatEngine Production</footer></div>
          </ng-template>
          


</div>
