<style>
    .back-ground {   
    

        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top:  0px;

        background: linear-gradient(180deg, #62B8B9 2.0%, #0F1119 35%, #B63986 60.0%);
        color: white;

        
    };

    



</style>

<div class="back-ground" style="display:flex; justify-content: center; padding-top: 20%;">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
        <div style="text-align: center;">    
            <h1>StatEngine</h1>
            <h1>Login</h1>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label style="color:white">Username</mat-label>
                <input matInput formControlName="username" style="color:white">
                <mat-hint>Enter a username</mat-hint>
            </mat-form-field>
        </div>  
        <div>
            <mat-form-field appearance="outline">
                <mat-label style="color:white">Password</mat-label>
                <input matInput formControlName="password" type="password" style="color:white">
                <mat-hint>Enter a password</mat-hint>
            </mat-form-field>
        </div>
        <div> <!--Block 3 for submit button-->
            <button mat-flat-button color="primary" type="submit" style="justify-content: center; align-self: center; left: 30%; top: 50%; color: white" onclick="onSubmit();" [disabled]="!loginForm.valid">Sign In</button>
            <footer style="justify-content: center; text-align: center; padding-top: 90%; color: white " >This is a StatEngine Production</footer>
        </div>
    </form>
</div>
