.back-ground {   
    position: absolute;
    left: 0px;
    top:  0px;
    width: 100%;
    display:flex; 
    justify-content: center; 
    padding-top: 3%;
    background: linear-gradient(180deg, #62B8B9 10.0%, #0F1119 35%, #B63986 80.0%);
    color: white;
}
.input-box {
    width: 300px;
    height: 20px;
    margin-left: 30px;

}

.title-header{
    text-align: center;
    font-weight: bold;
}

.login-container{
    background-color: #323338;
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(97, 97, 112, 0.5);
    
}

.login-buttons{
    display:flex;
    position: relative;
    justify-content: center; 
    align-items: center; 
    left: 0%;
    color: white;
    margin-bottom: 15px;
}

/* .logo{
    padding-top: 10%; 
    width:20%;
    height: auto;
} */

.site-header{
    margin-top: 0px;
}


/* Define CSS for desktop and larger screens */
@media screen and (min-width: 768px) {
    body {
        /* padding-top: 20%; */
        font-size: 16px;
    }
    .logo{
        /* padding-top: 10%;  */
        width: 45%;
        height: auto;
    }
}



/* if the screen is of tablet size or smaller */
@media only screen and (max-width: 767px) {
    body {
        /* padding-top: 10%; */
        font-size: 14px;
    }
    .site-header{
        /* margin-top: 40px; */
    }
    .login-container{
        width: 60%;
        margin: auto;
    }
    .input-box{
        margin-left: auto;
        width: 90%;
    }

    .logo {
        padding-top: 15%; 
        width: 40%; 
        height: auto;

    }
}