<!-- about-us.component.html -->
<div class="back-ground"  style=" padding-top: 10%;">


    <div>
        <div id="tableOfContents" >
            <p style="Color:white">Table of Contents</p>
            <button class="button-effect" (click)="scrollToSection('Project Overview')">Project Overview</button>
            <button class="button-effect" (click)="scrollToSection('Project Architecture')">Project Architecture</button>
            <button class="button-effect"(click)="scrollToSection('Challenges')">Challenges</button>
            <button class="button-effect"(click)="scrollToSection('Lesson Learned')">Lesson Learned</button>
        </div>
    </div>

    
    <div id="Project Overview" class="content-section" style="color:white">
        <h2 style="font-size: 22px;">Project Overview</h2>
        <p>(Brief overview of the what the project is and what problem it is solving)</p>
        <p>Our project is about getting CSGO game data of that user(kills, deaths, headshot percentage, inventory etc) through steam and display them on our website. In addition, players can also go through our market page to view and buys CSGO weapon skins, knifes, and gloves! </p>
    </div>
    
    <div id="Project Architecture" class="content-section" style="color:white">
        <h2 style="font-size: 22px;">Project Architecture</h2>
        <p>(Outline of project architecture and technology used)</p>
        <p>Our project is using MEAN stack (MongoDB, Express, Angular, Node) as the architecture</p>
        <img style="height: 100%; width: 100%;"  src="assets/advertise\MEAN_Stack.webp">

    </div>
    
    <div id="Challenges" class="content-section" style="color:white">
        <h2 style="font-size: 22px;">Challenges</h2>
        <p>(Challenges that we have faced and how to overcome the challenges)</p>
        <p>. Connect to Steam to get user data </p>
        <p>. IP banned on CS2 </p>
        <p>. Display users' CSGO inventory</p>
    </div>

    <div id="Lesson Learned" class="content-section" style="color:white">
        <h2 style="font-size: 22px;">Lesson Learned</h2>
        <p>(Lessons learned (with code or working on a team))</p>
        <p>. How to connect to Steam in the backend using Steam Strategy</p>
        <p>. </p>
    </div>

    <footer style="justify-content: center; text-align: center; padding-top: 10%; color: white " >This is a StatEngine Production</footer>
</div>