<!-- about-us.component.html -->
<div class="back-ground"  style=" padding-top: 10%;">


    <div>
        <div id="tableOfContents" >
            <p style="Color:white">Table of Contents</p>
            <button class="button-effect" (click)="scrollToSection('Project Overview')">Project Overview</button>
            <button class="button-effect" (click)="scrollToSection('Project Architecture')">Project Architecture</button>
            <button class="button-effect"(click)="scrollToSection('Challenges')">Challenges</button>
            <button class="button-effect"(click)="scrollToSection('Lesson Learned')">Lesson Learned</button>
        </div>
    </div>

    
    <div id="Project Overview" class="content-section" style="color:white">
        <h2>Project Overview</h2>
        <p>Project overview Here</p>
    </div>
    
    <div id="Project Architecture" class="content-section" style="color:white">
        <h2>Project Architecture</h2>
       <p>Project Architecture Here</p>
    </div>
    
    <div id="Challenges" class="content-section" style="color:white">
        <h2>Challenges</h2>
        <p>Challenges that we have faced and how to overcome the challenges</p>
    </div>

    <div id="Lesson Learned" class="content-section" style="color:white">
        <h2>Lesson Learned</h2>
        <p>Lessons learned (with code or working on a team)</p>
    </div>

</div>