.back-ground {
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background: rgb(242, 242, 242);
    background: conic-gradient(from 45deg at 0% 100%, #999999 0deg, rgba(0, 0, 0, 0) 360deg),
        linear-gradient(180deg, #282828 0%, rgba(38, 38, 38, 0) 100%);
    filter: drop-shadow(24% 16% 0% rgba(0, 0, 0, 0.14)) drop-shadow(0% 6% 30% rgba(0, 0, 0, 0.12))
        drop-shadow(0px 8px 10 rgba(0, 0, 0, 0.2));
    background-attachment: fixed;
}

.title{
    position: relative;
    color: white;
    font-size: 32px;
    padding-top: 10%;
}

.table-container{
    width:80%;
    margin: 0 auto;
    border-radius: 10px; /* Adjust the border-radius value to your desired level of rounding */
    overflow: hidden; /* Ensures the table content is contained within the rounded edges */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    
}

.ex-table td {
    color: #FFFFFF; /* Set the desired text color */
  }

.ex-table{
    background-color: #323338;
    color: #FFFFFF;
}

mat-cell{

    color: white;

}

.data-table__cell{

    color: white;
}

.signup-button {
    background-color: #323338;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
  }

/* Hover effect */
.signup-button:hover {
    background-color: black; /* Darker shade on hover */
}


/* Define CSS for desktop and larger screens */
@media screen and (min-width: 768px) {
    body {
        padding-top: 20%;
        font-size: 16px;
    }
    .container {
        /* margin: 0 auto; */
        /* padding: 20px; */
    }
}

/* Define CSS for smaller screens (e.g., phones) */
@media screen and (max-width: 767px) {
    body {
        padding-top: 20%;
        font-size: 14px;
    }
    .container {
        width: 100%;
        padding-top: 10%;
    }
}