.back-ground {   
    /* position: absolute; */
    width: 100%;
    height: 100%;
    left: 0px;
    top:  0px;
    display:flex; 
    padding-top: 10%;
    background: linear-gradient(180deg, #62B8B9 2.0%, #0F1119 35%, #B63986 60.0%);
    text-align: left;
    /* background-attachment: fixed;
    background-repeat: repeat;
    background-size:cover; */
}
.title{
    color: black;
    font-size: 32px;
    padding-top: 10%;
}

.table-container{
    width:80%;
    margin: 0 auto;
    border-radius: 10px; /* Adjust the border-radius value to your desired level of rounding */
    overflow: hidden; /* Ensures the table content is contained within the rounded edges */
    
    
}

.ex-table td {
    color: black; /* Set the desired text color */
  }

.ex-table{
    background-color: #323338;
    color: black;
}

mat-cell{

    color: black;

}

.data-table__cell{

    color: black;
}

.description-box{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}

.reported-by-box{
    width: 400px;
    text-align: center;
    justify-content: center;
}

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: black;
      border-radius: 20px;
      border-color: black;
      color : white
    }
    .form-container{
      display: flex;
      border-color: black;
      padding: 10px;
      z-index: 1;
    }
