<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="passwordreset.component.css">
  </head>

<div class="back-ground">
    <body>
        <form [formGroup]="resetForm" novalidate>
            <div style="text-align: center;">    
                <h1>StatEngine</h1>
                <h1>Reset Password</h1>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label style="color:white">Username</mat-label>
                    <input matInput formControlName="username" style="color:white">
                    <mat-hint>Enter your username</mat-hint>
                </mat-form-field>
            </div>  
            <div>
                <mat-form-field appearance="outline">
                    <mat-label style="color:white">Old Password</mat-label>
                    <input matInput formControlName="oldpassword" style="color:white">
                    <mat-hint>Enter your old password</mat-hint>
                </mat-form-field>
            </div>  
            <div>
                <mat-form-field appearance="outline">
                    <mat-label style="color:white">New Password</mat-label>
                    <input matInput formControlName="newpassword" type="password" style="color:white">
                    <mat-hint>Enter your new password</mat-hint>
                </mat-form-field>
            </div>
            <div> <!--Block 3 for submit button-->        
                <button mat-flat-button color="primary" type="submit" style="display:flex; justify-content: center; align-items: center; align-self: center; left: 20%; top: 50%; color: white" (click)="onPasswordReset()" [disabled]="!resetForm.valid">Reset Password</button>
                <footer style="justify-content: center; text-align: center; padding-top: 80%; color: white " >This is a StatEngine Production</footer>
            </div>
        </form>
    </body>
</div>