.menubox{
    width:125px;
    height:40px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding-top: 4%;
    background-image: linear-gradient(to right,#282828 100%, #272727 65.63%, #262626 0%);
    color: #FFFFFF;
}    

.nav-toggle {
    position: relative; /* Ensure the container establishes a new stacking context */
    z-index: 1;
  }
