
<!-- Navigation Bar -->
<mat-drawer-container>
  <mat-drawer-content style=" height: 100vh; position: relative;">




    <div class="top-row-container" style="z-index: 2; position: absolute; top: 0; left: 0; width: 100%">



      <!-- Nav-Toggle button -->
      <button mat-icon-button id="sidenavtoggle" class="nav-toggle" (click)="menuToggle()">
        <mat-icon>menu</mat-icon>
      </button>

      
      <!-- Search Form -->
      <form [formGroup]="SearchForm" class="search-box" >
            
        <!-- Search Function Button -->
        <button  (click)="searchSubmit()"><img src="assets/icons/Search.png"></button>
                
        <!-- Username lookup field -->
        <mat-form-field appearance="fill">
        <mat-label style="color:black; ">Search for a Player</mat-label>
        <input matInput formControlName="username" style="color:black">
        </mat-form-field>
      </form>

    </div>

    <div>
      <router-outlet ></router-outlet>

    </div>




  </mat-drawer-content>

  <!-- Navbar options -->
  <mat-drawer mode="over" class="sidebar" [(opened)]="opened">
    <!-- MENU -->
    <div class="menubox"><a (click)="menuToggle()"><h1><b>MENU</b></h1></a></div>

    <!-- Home -->
    <div class="menubox"  (click)="homeRedirect()"><h2><img src="assets/icons/Home.png">Home</h2></div>
    
    <!-- Favorites -->
    <div class="menubox" *ngIf="isDisplayed" (click)="favoritesRedirect()"><p><img src="assets/icons/FriendList.png">Favorites</p></div>

    <!-- Register -->
    <div  class="menubox" *ngIf="displayRegAndLogin" (click)="registerRedirect()"><h2 class="menuboxText">Register</h2></div>

    <!-- Login -->
    <div class="menubox" *ngIf="displayRegAndLogin" (click)="loginRedirect()"><h2 class="menuboxText">Login</h2></div>

    <!-- My Account -->
    <div class="menubox"><a class="menuboxText" (click)="myAccountRedirect()">My Account</a> </div>

    <!-- Report Bug -->
    <div *ngIf="isDisplayed" class="menubox"  (click)="bugReportRedirect()"><p><img src="assets/icons/BugReport.png">Bug Report</p></div>

    <!-- Logout -->
    <div  *ngIf="isDisplayed" class="menubox" style="position:absolute; bottom:0;" (click)="logoutRedirect()"><p><img src="assets/icons/LogOut.png">Log Out</p></div>
  
  </mat-drawer>


  
  
</mat-drawer-container>