

<mat-drawer-container>
  <mat-drawer mode="side" style="height: scrollheight; width: 15%;background-color: lightcoral;" [(opened)]="opened">
      
      <div class="menubox" style="background-color: salmon;"><a><h1><b>MENU</b></h1></a></div>
      <div class="menubox"><a (click)="homeRedirect()">Home</a></div>
      <div class="menubox"><a (click)="registerRedirect()">Register a User</a></div>
      <div class="menubox"><a (click)="loginRedirect()">Login</a></div>
      <div class="menubox"><a (click)="searchRedirect()">Search</a></div>
      <div class="menubox"><a (click)="myAccountRedirect()">My Account</a> </div>
  
  </mat-drawer>

  <mat-drawer-content style="background-color: whitesmoke; height: 100%;">

    <!-- <button mat-flat-button id="sidenavtoggle" (click)="menuToggle()" style="color: lightgray">Toggle Sidebar</button> -->
      <button mat-icon-button id="sidenavtoggle" class="nav-toggle" (click)="menuToggle()" style="color: lightgray">
        <mat-icon>menu</mat-icon>
      </button>
    <router-outlet></router-outlet>
    <footer style="justify-content: center; text-align: center; padding-top: 90%; " ></footer>
    <!-- <button mat-flat-button id="sidenavtoggle" (click)="menuToggle()" style="color: lightgray">Toggle Sidebar</button> -->

  </mat-drawer-content>
  
</mat-drawer-container>