<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory</title>
</head>
<body class="back-ground">

    <!--Background partition-->
    <div class="bg-part">
        <mat-card>
            <mat-card-header style="background-color: rgba(24, 23, 23, 0.61);">
                <mat-card-title>
                    <div  style="float:left; width:70%">
                        <h1>Market</h1>
                    </div>
                    <div style="float:right; width:30%; align-items: right;">
                        <input type="text" [(ngModel)]="searchText" placeholder="Search items">
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-paginator [length]="filteredItems.length" 
                               [pageSize]="100" 
                               [pageSizeOptions]="[100, 250, 500, 1000]"
                               (page)="handlePageEvent($event)">
                </mat-paginator>
                <ng-container *ngFor="let item of filteredItems | slice: (page - 1) * pageSize : page * pageSize">
                    <mat-card class="itemBox">
                        <mat-card-header>
                            <mat-card-title style="color:white; height: 50%;">
                                <h2>{{item.name}}</h2>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="color:white">
                            <p>[Item Image Placeholder]</p>
                            <p>Bitskins Price: ${{item.suggested_price/1000}}</p>
                        </mat-card-content>
                    </mat-card>
                </ng-container>
            </mat-card-content>
        </mat-card>
    </div>
</body>