<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory</title>
</head>
<body class="back-ground">

    <!--Background partition-->
    <div class="bg-part">
        <mat-card>
            <mat-card-header style="background-color: rgba(24, 23, 23, 0.61);">
                <mat-card-title>
                    <h1>Inventory</h1>
                </mat-card-title>
            </mat-card-header>
            <div>
                <!--Iterates through an array given by the backend to populate items in user inventory-->
                <!-- <div *ngFor="let item of items">

                </div> -->
            </div>
        </mat-card>

    </div>

</body>